<!DOCTYPE html>
<html>
  <head>
    <title>BaseExamen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <%= link_to 'User', users_path %>
  <%= link_to 'Games', games_path %>
  </li>

<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<div class="form-group">
        <!--  <input type="text" class="form-control" name="title" placeholder="Search" value="<%= params[:title] %>">-->
          <%= form_tag(games_path, method: 'get', class: 'navbar-form') do %>
            <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search'  %>
            <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
          <% end %>

        </div>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
